{% include 'admin_header.html'  %}
<div id='page-wrapper'>
	<div id='page-inner'>
		<div class='row'>
			<div class='col-md-12'>
				<h1>Drowsiness detections</h1>
				<div class='form'>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<table class='table'>
					<thead>
						<tr>
							<th>Datetime</th>
							<th>First name</th>
							<th>Datetime</th>
							<th>Image</th>
						</tr>
					</thead>
					<tbody>
						{% for row in data['detection'] %}
							<tr>
								<td>{{row['datetime']}}</td>
								<td>{{row['first_name']}}</td>
								<td>{{row['datetime']}}</td>
								<td>{{row['image']}}</td>
							</tr>
						{% endfor %}
				</tbody>
				<table>
			</div>
		</div>
	</div>
</div>
{% include 'admin_footer.html'  %}
